[submodule "Assets/Plugins/Framework"]
	path = Assets/Plugins/Framework
	url = https://github.com/Free-Lives/Framework.git
[submodule "Assets/Plugins/Sound-Manager"]
	path = Assets/Plugins/Sound-Manager
	url = https://github.com/Free-Lives/Sound-Manager.git